.from--title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 300px;
    height: 50px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    display: flex;
}
input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}
input:focus{
    outline: none;
    background-color: #fff;
}
input[type="email"]{
    font-size: 14px;
    width: 150px;
    height: 44px;
    margin-left: 20px;
}
.submit{
    cursor: pointer;
    margin: auto;
}
input[type="submit"]{
    width: 100px;
    font-size: 15px;
    padding: 10px;
    border-radius: 4px;
    background-color: #02BAA6;
    color: #fff;
    cursor: pointer;
}